.header {

  background: #FF6600;
  color: #fff;
  .small-section();

  .header--logo {
    float:left;
    background-image:url(../i/easyJet-logo.jpg);
    background-repeat: no-repeat;
    text-indent:-200em;
    margin:0;
    width:131px;
    height:45px;

    a {
      display:block;
    }
  }

  .header--menu {
    float:right;

    li {
      float:left;
      margin-top:2px;
      
      a {
        color: #fff;
        display:block;
        padding:12px;
      }
    }
  }

}